@use '../../../styles' as *;

.page {
	display: flex;
	flex-direction: column;
	gap: $space-6;
	height: 100%;
	padding: $space-6;
	overflow: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: $text-lg;
	font-weight: 600;
	line-height: $text-lg-line;
}
