@use '../../../styles' as *;

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;

	& + & {
		padding-top: 1rem;
		border-top: 1px solid $color-border;
	}
}
