@use '../../../styles' as *;

.section {
	display: flex;
	flex-direction: column;
	gap: $space-4;
}

.header {
	display: flex;
	flex-direction: column;
	gap: $space-3;

	@media (width >= $breakpoint-sm) {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.title {
	font-size: $text-base;
	font-weight: 600;
	line-height: $text-base-line;
}

.grid {
	display: grid;
	gap: $space-4;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}
